
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&family=Shrikhand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&family=Shrikhand&display=swap');
*, ::after, ::before{
    box-sizing: border-box;
}
body{
    margin: 0px;
    font-family: "roboto", sans-serif;
}
//main{
  //  padding: 0 1rem;
//}
h1,h2,h3,h4,h5,h6,p{
    padding: 0 0;
    margin: 0;
}

a{
    text-decoration: none;
    color: inherit;
}