@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&family=Shrikhand&display=swap");
@import url(/Users/rachidmarir/Desktop/Projet_3/ohmyfood/sass/utils/colors.css);
*, ::after, ::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0px;
  font-family: "roboto", sans-serif;
}

h1, h2, h3, h4, h5, h6, p {
  padding: 0 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

header {
  font-family: "shrikhand", cursive;
  text-align: center;
  -webkit-box-shadow: 0 0 0.5rem black;
          box-shadow: 0 0 0.5rem black;
  padding: 0.3rem;
  margin: 0;
  position: relative;
}

header h1 {
  margin-top: 10px;
}

.city {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 1rem;
  background-color: #f3F3F3;
  text-align: center;
  padding: 0.5rem;
}

.city i {
  font-size: 1.5rem;
}

.explore {
  text-align: center;
}

.explore h2 {
  font-size: 2rem;
}

.explore p {
  font-size: 1rem;
}

.explore button {
  color: white;
  font-weight: 300;
  font-size: 1.5rem;
  padding: 1rem 2rem;
  border: none;
  border-radius: 2rem;
  -webkit-transition: -webkit-transform 200ms;
  transition: -webkit-transform 200ms;
  transition: transform 200ms;
  transition: transform 200ms, -webkit-transform 200ms;
  margin-top: 1rem;
  cursor: pointer;
  -webkit-box-shadow: 2px 1px 8px -3px #7e7e7e;
          box-shadow: 2px 1px 8px -3px #7e7e7e;
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(147, 86, 220, 0.9)), to(rgba(255, 121, 218, 0.9)));
  background-image: linear-gradient(0deg, rgba(147, 86, 220, 0.9), rgba(255, 121, 218, 0.9));
}

.explore button:hover {
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
  opacity: 0.9;
}

.loader {
  position: fixed;
  display: -ms-grid;
  display: grid;
  place-items: center;
  background-color: white;
  height: 100vh;
  inset: 0;
  z-index: 2;
  opacity: 0.9;
  -webkit-animation: disappear 300ms;
          animation: disappear 300ms;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
}

.loader::after {
  content: "";
  height: 100px;
  width: 100px;
  border-right: 5px solid transparent;
  border-top: 5px solid #9356dc;
  border-radius: 50%;
  -webkit-animation: spin 1s ease;
          animation: spin 1s ease;
  -webkit-animation-iteration-count: 3;
          animation-iteration-count: 3;
}

@-webkit-keyframes disappear {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}

@keyframes disappear {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}

@-webkit-keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.tuto {
  margin-top: 3rem;
  padding: 4rem 1rem 4rem 0;
  background-color: white;
}

.tuto h2 {
  margin-left: 1.5rem;
  padding-bottom: 1rem;
}

.tuto ol {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2rem;
}

@media (max-width: 900px) {
  .tuto ol {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.tuto li {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style-type: none;
  background-color: #f6f6f6;
  padding: 1.3rem 2rem;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  border-radius: 1rem;
  -webkit-box-shadow: 2px 1px 8px -3px #7e7e7e;
          box-shadow: 2px 1px 8px -3px #7e7e7e;
}

.tuto li .number {
  color: white;
  background-color: #9356dc;
  display: -ms-grid;
  display: grid;
  place-items: center;
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: -1rem;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.tuto li:hover {
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
  background-color: #f2eafb;
}

.tuto li:hover i::before {
  color: #9356dc;
}

.tuto li i {
  margin-right: 1rem;
  color: #7e7e7e;
  font-size: 1.5rem;
}

#acceuil .menus {
  background-color: #f6f6f6;
  margin: 1.3rem;
}

#acceuil .menus h2 {
  margin: 4rem 0 2rem 0;
}

#acceuil .menus .menus__cards {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}

@media (max-width: 900px) {
  #acceuil .menus .menus__cards {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
  }
}

#acceuil .menus .menus__cards .new {
  position: relative;
}

#acceuil .menus .menus__cards .new::before {
  content: "Nouveau";
  position: absolute;
  height: 2rem;
  width: 5rem;
  background-color: #99e2d0;
  color: #1b6150;
  display: -ms-grid;
  display: grid;
  place-items: center;
  right: 1rem;
  top: 1rem;
  border-radius: 3px;
}

#acceuil .menus .menus__cards a {
  -webkit-box-shadow: 0 0 45px lightgrey;
          box-shadow: 0 0 45px lightgrey;
  border-radius: 1rem;
}

#acceuil .menus .cards .cards__image {
  height: 13rem;
  border-radius: 1rem 1rem 0 0;
  background-size: cover;
  background-position: center;
}

#acceuil .menus .cards .__image1 {
  background-image: url("assets/restaurants/menu1.jpg");
}

#acceuil .menus .cards .__image2 {
  background-image: url("assets/restaurants/menu2.jpg");
}

#acceuil .menus .cards .__image3 {
  background-image: url("assets/restaurants/menu3.jpg");
}

#acceuil .menus .cards .__image4 {
  background-image: url("assets/restaurants/menu4.jpg");
}

#acceuil .menus .cards__description {
  position: relative;
  background-color: white;
  border-radius: 0 0 1rem 1rem;
  padding-left: 1rem;
}

#acceuil .menus .cards__description::before {
  display: inline-block;
  position: absolute;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialised;
  font-family: "Font Awesome 5 Free";
  font-weight: 100;
  content: "\f004";
  font-size: 2rem;
  right: 1rem;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  color: inherit;
  background-clip: text;
  -webkit-background-clip: text;
  opacity: 1;
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}

#acceuil .menus .cards__description::after {
  display: inline-block;
  position: absolute;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialised;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f004";
  font-size: 2rem;
  right: 1rem;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  opacity: 0;
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#9356dc), to(#ff79da));
  background-image: linear-gradient(0deg, #9356dc, #ff79da);
}

#acceuil .menus .cards__description:hover::after {
  opacity: 1;
  -webkit-transform: translateY(-50%) scale(1.1);
          transform: translateY(-50%) scale(1.1);
}

#acceuil .menus .cards__description h3 {
  padding: 1rem 0 0.3rem 0;
}

#acceuil .menus .cards__description p {
  padding: 0 0 1rem 0;
}

footer {
  background-color: #353535;
  padding: 15px 2rem;
  margin-top: 5rem;
}

footer h2 {
  font-family: "shrikhand", "sans-serif";
  font-weight: 500;
  color: #f6f6f6;
  padding: 8px 0;
}

footer p {
  padding: 0.3rem;
  color: #f6f6f6;
}

@-webkit-keyframes appear {
  0% {
    -webkit-transform: translateY(50%);
            transform: translateY(50%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@keyframes appear {
  0% {
    -webkit-transform: translateY(50%);
            transform: translateY(50%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

body {
  background-color: #f6f6f6;
}

#pagesresto1 header::before {
  display: inline-block;
  position: absolute;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialised;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f060";
  left: 1rem;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  font-size: 20px;
}

#pagesresto1 .banniere img {
  display: block;
  width: 100%;
  height: 70vh;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

#pagesresto1 .tittle_resto1 {
  margin-top: -2rem;
}

#pagesresto1 .tittle_resto1 h2 {
  font-family: "Shrikhand", "sans-serif";
  padding: 2rem 1rem;
  position: relative;
  background-color: white;
  border-radius: 0 0 1rem 1rem;
  border-radius: 2rem 2rem 0 0;
  background-color: #f6f6f6;
}

#pagesresto1 .tittle_resto1 h2::before {
  display: inline-block;
  position: absolute;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialised;
  font-family: "Font Awesome 5 Free";
  font-weight: 100;
  content: "\f004";
  font-size: 2rem;
  right: 1rem;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  color: inherit;
  background-clip: text;
  -webkit-background-clip: text;
  opacity: 1;
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}

#pagesresto1 .tittle_resto1 h2::after {
  display: inline-block;
  position: absolute;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialised;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f004";
  font-size: 2rem;
  right: 1rem;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  opacity: 0;
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#9356dc), to(#ff79da));
  background-image: linear-gradient(0deg, #9356dc, #ff79da);
}

#pagesresto1 .tittle_resto1 h2:hover::after {
  opacity: 1;
  -webkit-transform: translateY(-50%) scale(1.1);
          transform: translateY(-50%) scale(1.1);
}

#pagesresto1 .resto__main {
  padding: 0 1rem;
}

#pagesresto1 .menu {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

@media (max-width: 1000px) {
  #pagesresto1 .menu {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

#pagesresto1 .menu h3 {
  text-transform: uppercase;
  font-weight: 400;
  position: relative;
  margin-bottom: 1rem;
}

#pagesresto1 .menu h3::after {
  content: "";
  position: absolute;
  top: 1.5rem;
  left: 0rem;
  height: 0.25rem;
  width: 3rem;
  background-color: #99e2d0;
}

#pagesresto1 .menu .menu__category {
  overflow: hidden;
}

#pagesresto1 .menu .menu__category .menu-item {
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  border-radius: 1rem;
  margin: 0.5rem;
  -webkit-box-shadow: 2px 1px 8px -3px #7e7e7e;
          box-shadow: 2px 1px 8px -3px #7e7e7e;
  -webkit-animation: appear 2s;
          animation: appear 2s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

#pagesresto1 .menu .menu__category .menu-item:nth-child(1) {
  -webkit-animation-delay: 100ms;
          animation-delay: 100ms;
}

#pagesresto1 .menu .menu__category .menu-item:nth-child(2) {
  -webkit-animation-delay: 200ms;
          animation-delay: 200ms;
}

#pagesresto1 .menu .menu__category .menu-item:nth-child(3) {
  -webkit-animation-delay: 300ms;
          animation-delay: 300ms;
}

#pagesresto1 .menu .menu__category .menu-item .item__description {
  padding: 1rem;
  overflow: hidden;
}

#pagesresto1 .menu .menu__category .menu-item .item__description h4, #pagesresto1 .menu .menu__category .menu-item .item__description p {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

#pagesresto1 .menu .menu__category .menu-item .price-item {
  margin-left: auto;
  font-weight: 900;
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

#pagesresto1 .menu .menu__category .menu-item .slide-item {
  display: -ms-grid;
  display: grid;
  place-items: center;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  background-color: #99e2d0;
  margin-right: -4rem;
  width: 4rem;
  border-radius: 0 1rem 1rem 0;
  -webkit-transition: margin-right 0.5s;
  transition: margin-right 0.5s;
}

#pagesresto1 .menu .menu__category .menu-item .slide-item i {
  display: -ms-grid;
  display: grid;
  place-items: center;
  background-color: white;
  aspect-ratio: 1;
  width: 2rem;
  border-radius: 1rem;
  color: #99e2d0;
}

#pagesresto1 .menu .menu__category .menu-item:hover {
  cursor: pointer;
}

#pagesresto1 .menu .menu__category .menu-item:hover .slide-item {
  margin-right: 0;
}

#pagesresto1 .menu .menu__category .menu-item:hover i {
  -webkit-animation: quarterspin 0.5s ease-in-out;
          animation: quarterspin 0.5s ease-in-out;
}

@-webkit-keyframes quarterspin {
  0% {
    -webkit-transform: rotate(-270deg);
            transform: rotate(-270deg);
  }
  100% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
}

@keyframes quarterspin {
  0% {
    -webkit-transform: rotate(-270deg);
            transform: rotate(-270deg);
  }
  100% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
}

#pagesresto1 section.order {
  height: 15vh;
  display: -ms-grid;
  display: grid;
  place-items: center;
}

#pagesresto1 section.order button {
  color: white;
  font-weight: 300;
  font-size: 1.5rem;
  padding: 1rem 2rem;
  border: none;
  border-radius: 2rem;
  -webkit-transition: -webkit-transform 200ms;
  transition: -webkit-transform 200ms;
  transition: transform 200ms;
  transition: transform 200ms, -webkit-transform 200ms;
  margin-top: 1rem;
  cursor: pointer;
  -webkit-box-shadow: 2px 1px 8px -3px #7e7e7e;
          box-shadow: 2px 1px 8px -3px #7e7e7e;
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(147, 86, 220, 0.9)), to(rgba(255, 121, 218, 0.9)));
  background-image: linear-gradient(0deg, rgba(147, 86, 220, 0.9), rgba(255, 121, 218, 0.9));
}

#pagesresto1 section.order button:hover {
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
  opacity: 0.9;
}
/*# sourceMappingURL=style.css.map */