.city{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    background-color: #eaeaea;
    text-align: center;
    padding: 0.5rem;
    input {
      background-color: transparent;
      border: none;
      margin: 0.8rem;
      font-weight: 400;
      font-size: 1.2rem;
    }
     i{
       font-size: 1.2rem;
   }
}