@import"../utils/colors.scss";


footer{
    background-color: $darkgrey;
    padding: 15px 2rem;
    margin-top: 5rem;
    h2{
        font-family: "shrikhand", "sans-serif";
        font-weight: 500;
        color: $lightergrey;
        padding: 8px 0;
    }
    p{
        padding: 0.3rem;
        color: $lightergrey;
    }
}