@import "../utils/variables.scss";
@import "../utils/mixins.scss";
#acceuil{
    .menus{
        background-color: #f6f6f6;
        margin: 1.3rem;
        h2{
            margin: 4rem 0 2rem 0;
        }
        .menus__cards{
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 2rem;
            @media(max-width: 900px){
                grid-template-columns: repeat(1, 1fr);
            }
            .new{
                position: relative;
            }
            .new::before{
                content: "Nouveau";
                position: absolute;
                height: 2rem;
                width:5rem;
                background-color: #99e2d0;
                color: darken($color: #99e2d0, $amount: 50%);
                display: grid;
                place-items: center;
                right: 1rem;
                top: 1rem;
                border-radius: 3px;
            }
            a{
                box-shadow: 0 0 45px lightgrey;
                border-radius: 1rem;
            }
        }
        
        .cards{
            .cards__image{
                height: 13rem;
                border-radius: 1rem 1rem 0 0;
                background-size: cover;
                background-position: center;
            }
            
            .__image1{
                background-image: url("assets/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg");
            }
            .__image2{
                background-image: url("assets/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg");
            }
            .__image3{
                background-image: url("assets/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg");
            }
            .__image4{
                background-image: url("assets/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg");
            }
        }
        & .cards__description{
            .heart{
            @include heart-animated;
            padding-left: 1rem;
            }
            h3{
                padding: 1rem 0 0.3rem 1rem;
            }
            p{
                padding: 0 0 1rem 1rem;
            }
        }
    }
    }