@import"../utils/mixins.scss";
@import"../utils/variables.scss";
@import"../utils/colors.css";


.tuto {
    margin-top: 4rem;
    padding: 3.5rem 1rem 4rem 0;
    background-color: white;
    h2{
        margin-left: 1.5rem;
        padding-bottom: 1rem;
    }
    ol{
        display: flex;
        gap: 2rem;
        @media (max-width:900px){
            flex-direction: column;
        }
    }
    li{
        position: relative;
        display: flex;
        align-items: center;
        .number{
            color:white;
            background-color: #9356dc;
            display: grid;
            place-items: center;
            height: 2*$tuto-bull-h;
            width: 2*$tuto-bull-h;
            border-radius: 50%;
            position: absolute;
            top: 50%;
            left: -1rem;
            transform: translateY(-50%) ;
        }
        list-style-type: none;
        background-color: #f6f6f6;
        padding: 1.3rem 2rem;
        flex-grow: 1;
        border-radius: 1rem;
        @include base-shadow;
        &:hover{
        cursor: pointer;
        transform: scale(1.02);
        background-color: lighten($purple, 35%);
        i::before{
            color: $purple;            
        }
        }
        i{
            margin-right: 1rem;
            color: #7e7e7e;
            font-size: 1.5rem;
        }
    }
}